<!doctype html>
<html>

<head>
  <title>Odrive Tuner</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pretty-please.css') }}">
</head>

<body>
  <header class="pretty menu">
    <a class="pretty text-logo menu-start" href="#">Odrive Go Brr</a>
  </header>
  <div>
    <div class="pretty container">
      <h2> Odrive Basics </h2>
      <button id='connect_odrive' class="pretty button">Connect To Odrive</button>
      <button id='reboot_odrive' class="pretty red button">Reboot Odrive</button>
      <button id='clear_errors' class="pretty green button">Clear Errors</button>
      <pre id="log" class="pretty logger"></pre>
      <pre id="error_disp" class="pretty logger"></pre>
      <pre id="voltage_disp" class="pretty disp"></pre>
      <h2> Control </h2>
      <pre id="enc_disp" class="pretty disp"></pre>
      <div id='states_disp'></div>
      <pre id='current_state' class='pretty disp'></pre>  
        <div id='axis_state'>

        </div>
        <div id='control_state'>
          
        </div>
      <h2> Gains </h2>
      <button id='get_gains' class="pretty small blue button">Get Gains</button>
      <button id='set_gains' class="pretty small purple button">Set Gains</button>
      <div id='gains_disp'></div>
      <h2> Config </h2>
      <button id='get_config' class="pretty small blue button">Get Config</button>
      <button id='set_config' class="pretty small purple button">Set Config</button>
      <button id='erase_config' class="pretty small red button">Erase Config</button>
      <div id='config_disp'></div>
      

      <!--do Live Graphs-->



    </div>
  </div>
  <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>

</html>